@font-face {
    font-family: 'TheSeasons';
    src: url('./fonts/the-seasons.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    height: 98vh;
    background: #f3efec;
    /* color: #2e4a0c; */
    color: #2b4210;
    font-family: 'TheSeasons', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
}
main{
    position: relative;
    display: block;
    margin: 0px;
}
.special-characters{
    font-family: Arial, Helvetica, sans-serif;
}
#content{
    width: fit-content;
    height: fit-content;
    padding: 20px 20px 10px 20px;
    font-family: 'TheSeasons', sans-serif;
    margin-bottom: 0px;
    text-align: center;
    z-index: 2000;
    display: block;
}
#logo{
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}
h1{
    margin: 0px;
    padding: 0px;
    font-size: 46px;
}
a{
    color: #254000;
}
#about{
    padding: 0px 20px 10px 20px;
    margin: 0px auto;
    font-size: 20px;
}
#email{
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
}
#coming-soon{
    width: 100%;
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
}

@media screen and (max-width:540px) {
    h1{
        font-size: 38px;
    }
}

@media screen and (max-width:414px) {
    h1{
        font-size: 34px;
    }
    #coming-soon{
        font-size: 26px;
    }
}

@media screen and (max-width:376px) {
    h1{
        font-size: 30px;
    }
    #coming-soon{
        font-size: 24px;
    }
    #about{
        font-size: 18px;
    }
    #email{
        font-size: 18px;
    }
}

@media screen and (max-width:338px) {
    h1{
        font-size: 28px;
    }
    #coming-soon{
        font-size: 22px;
    }
}

@media screen and (max-width:322px) {
    h1{
        font-size: 26px;
    }
    #coming-soon{
        font-size: 20px;
    }
}

.rising{
    animation: riseSmall 3s forwards;
}

@media screen and (min-width:601px) {
    #email{
        text-align: right;
    }
    #coming-soon{
        text-align: right;
        margin-top: 60px;
    }
    .rising{
        animation: riseMedium 3s forwards;
    }
    #content{
        padding-right: 50px;
        display: flex;
        flex-wrap: nowrap;
    }
    #logo{
        top: 120px;
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width:905px) {
    .rising{
        animation: riseLarge 3s forwards;
    }
    #content{
        padding-right: 100px;
        display: flex;
        flex-wrap: nowrap;
    }
}

@keyframes riseSmall {
    0% {
        /* left: 30%; */
        padding-right: 200px;
        opacity: 0.3;
        scale: 0.75;
    }
    100% {
        /* left: 45%; */
        padding-right: 0px;
        opacity: 1;
        scale: 1;
    }
}

@keyframes riseMedium {
    0% {
        /* left: 10%; */
        padding-right: 50px;
        padding-left: 0px;
        opacity: 0.3;
        scale: 0.75;
    }
    100% {
        /* left: 25%; */
        padding-right: 0px;
        padding-left: 50px;
        opacity: 1;
        scale: 1;
    }
}

@keyframes riseLarge {
    0% {
        /* left: 10%; */
        padding-right: 100px;
        padding-left: 0px;
        opacity: 0.3;
        scale: 0.75;
    }
    100% {
        /* left: 25%; */
        padding-right: 0px;
        padding-left: 100px;
        opacity: 1;
        scale: 1;
    }
}

.hidden{
    visibility: hidden;
}
.fadeIn{
    animation: fade 2s forwards;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}